.slider {
    width:100%;
}

.pic {
  height: 8em;
  width: 8em;
  border: solid;
  border-color: #808080;
  border-width: 0.2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-pic {
  height: 3em;
  width: 3em;
}

.upload {
  color: #7238bd;
  border-color: #7238bd;
}

.table-pic-borderd {
  height: 3em;
  width: 3em;
  border: solid;
  border-color: #808080;
  border-width: 0.1em;
}

.pointer:hover {
cursor:pointer;
}

.slider-hint {
font-size:10px;
text-align: center;
}

.done {
  color: #57cb72;
  border-color: #57cb72;
  width:revert;
}

.notify {
  border-color: #7238bd;
}

.btn-done {
  background-color: forestgreen;
  color: white;
}

.table-icon {
  transform:scale(0.7);
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.team-dialog {
  height: 23em;
  width: 25em;
}

.gap {
  margin:1em;
}

.gap-top {
  margin-top:1em;
}

.half-margin {
  margin: 0.5em;
}

.form-width {
  width: 25em;
}

.admin-form-field {
  margin-top: 1em;
}

.notified {
  transform: scale(0.6);
  color:#4092eb;
}

.dates {
  font-size: 12px;
}

  .dates:hover {
      color:#4092eb;
      cursor:pointer;
  }
