<mat-toolbar color="primary" class="col-sm-12 addedit-toolbars full-width">
  <span>{{title()}}</span>
  <span class="toolbar-spacer"></span>
  <span>
    <button mat-icon-button style="background-color:none;" (click)="close()"><mat-icon>close</mat-icon></button>
  </span>
</mat-toolbar>
<div class="form-width">
  <!-- comp -->
  <br />
  <form *ngIf="data.ctr === 'c'" [formGroup]="compform" class="admin-form-content" (ngSubmit)="addedit()">
    <img [src]="currentPic" class="pic center top-margin">
    <input type="file" #file accept=".jpg,.jpeg,.png" (change)="picSelect($event)" />
    <br />
    <button type="button" mat-stroked-button class="center upload top-margin" (click)="file.click()">
      Upload
    </button>
    <div class="row justify-content-center">
      <mat-form-field class="admin-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="_name" [(ngModel)]="data.comp.name" required />
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-form-field class="admin-form-field">
        <mat-label>Teams</mat-label>
        <input matInput type="number" min="2" formControlName="_teamsTotal" [(ngModel)]="data.comp.teamsTotal" required>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="admin-form-field">
        <mat-label>Opens</mat-label>
        <input matInput type="datetime-local" formControlName="_open" [(ngModel)]="data.comp.open" required />
      </mat-form-field>
      <mat-divider style="margin-top:1em;"></mat-divider>
      <button type="submit" mat-stroked-button class="done admin-form-field" [disabled]="compform.invalid">Done</button>
    </div>
  </form>
</div>
<!-- team -->
<div class="form-width">
  <form *ngIf="data.ctr === 't'" [formGroup]="teamform" (ngSubmit)="addedit()">
    <img [src]="currentPic" class="pic center top-margin">
    <input type="file" #file accept=".jpg,.jpeg,.png" (change)="picSelect($event)" />
    <br />
    <button type="button" mat-stroked-button class="center upload top-margin" (click)="file.click()">
      Upload
    </button>
    <br />
    <mat-divider></mat-divider>
    <div class="row justify-content-center">
      <mat-form-field class="gap">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="_name" [(ngModel)]="data.team.name" required />
      </mat-form-field>
      <mat-divider></mat-divider>
      <button type="button" mat-icon-button color="accent" class="gap" *ngFor="let rateId of rateArr; index as i" [id]="'star_'+i" (click)="rateClicked(i+1)">
        <mat-icon>{{rateIcon(i)}}</mat-icon>
      </button>
      <mat-divider></mat-divider>
      <section class="gap" style="text-align:center;">
        <mat-checkbox *ngFor="let comp of data.comps" (change)="compCheck($event.checked, comp.id)" color="primary" style="margin:0.5em;" [checked]="comp.hasTeam">
          {{comp.name}}
        </mat-checkbox>
      </section>
      <br />
      <mat-divider></mat-divider>
      <button mat-stroked-button type="submit" class="admin-form-field done" [disabled]="teamform.invalid">
        Done
      </button>
    </div>
  </form>
</div>
<!--round-->
<div class="form-width">
  <form *ngIf="data.ctr === 'r'" [formGroup]="roundform" (ngSubmit)="addedit()">
    <div class="row justify-content-center">
      <mat-form-field class="admin-form-field">
        <mat-label>Round Number</mat-label>
        <input matInput type="number" formControlName="_number" [(ngModel)]="data.round.number" required />
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="admin-form-field">
        <mat-label>Start</mat-label>
        <input matInput type="datetime-local" formControlName="_start" [(ngModel)]="data.round.start" required />
      </mat-form-field>
      <mat-form-field class="admin-form-field">
        <mat-label>Deadline</mat-label>
        <input matInput type="datetime-local" formControlName="_deadline" [(ngModel)]="data.round.deadline" required />
      </mat-form-field>
      <mat-divider style="margin-top:1em;"></mat-divider>
      <button mat-stroked-button type="submit" class="admin-form-field done" [disabled]="roundform.invalid">
        Done
      </button>
    </div>
  </form>
</div>

