<nz-tabset [nzCentered]="true">
  <nz-tab nzTitle="Picker">
    <div class="picker">
      <mat-card class="fixture">
        <mat-card-content>
          <img [src]="pic(fixture.home.pic, 2)" class="fixture-pic" [ngClass]="{'round-border': fixture.id === 0}" />
          <mat-icon class="result" [ngClass]="resultClass(fixture.homeResult)">
            {{resultIcon(fixture.homeResult)}}
          </mat-icon>
          vs
          <mat-icon class="result" [ngClass]="resultClass(fixture.awayResult)">
            {{resultIcon(fixture.awayResult)}}
          </mat-icon>
          <img [src]="pic(fixture.away.pic, 2)" class="fixture-pic" [ngClass]="{'round-border': fixture.id === 0}" />
        </mat-card-content>
      </mat-card>

      <div class="row">
        <img [src]="pic(pick.team.pic, 2)" class="picked" [ngClass]="{'round-border': pick.team.id === 0}" [@fade]="pickChange ? 'active': 'inactive'"/>
        <div *ngIf="pick.team.id !== 0" class="rating">
          <mat-icon *ngFor="let r of rating(pick.team)">star</mat-icon>
        </div>
        <h1 class="txt-centered" style="color:aliceblue;">{{pick.team.name}}</h1>
        <mat-divider style="background-color: #808080;"></mat-divider>
      </div>

      <div class="row tiles">
        <mat-grid-list cols="4" rowHeight="1:1">
          <mat-grid-tile *ngFor="let team of teams" (click)="select(team)">
            <img class="" [src]="pic(team.pic, 2)" [ngClass]="{'selected': selected === team.id, 'picker-team': selected !== team.id, 'picker-team-disabled': pickedTeams.indexOf(team.id) !== -1 || deadlined || !started || !team.hasFixture || player.eliminated}" />
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-divider style="background-color: #808080;"></mat-divider>
      <button mat-raised-button class="done" (click)="addedit()" [disabled]="!validPick || deadlined || !started">Pick</button>
      <br />
      <mat-divider style="background-color: #808080; margin-top:1em;"></mat-divider>
      <br />
      <mat-accordion *ngIf="picks.length > 0">
        <mat-expansion-panel style="background-color: #313131;" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="color:aliceblue">My Results</mat-panel-title>
          </mat-expansion-panel-header>
          <table class="picked-list">
            <tbody class="table-body">
              <tr>
                <td>Round</td>
                <td>Team</td>
                <td>Result</td>
              </tr>
              <br />
              <tr *ngFor="let pick of picks">
                <ng-container>
                  <td>{{pick.roundNumber}}</td>
                  <td>{{pick.team.name}}</td>
                  <td>
                    <mat-icon class="result" [ngClass]="resultClass(pick.result)">
                      {{resultIcon(pick.result)}}
                    </mat-icon>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Fixtures">
    <div *ngFor="let round of rounds">
      <div *ngIf="round.show">
        <h3 style="color:aliceblue;">Round {{round.number}}
        <span *ngIf="toStart(round.start)" class="round-date">Start : {{round.start | date: 'd.M.yy '}}</span>
        <span *ngIf="!toStart(round.start)" class="round-date">{{pastStart(round)}}</span>
        </h3>
        <mat-divider style="background-color:aliceblue;"></mat-divider>
        <mat-card *ngFor="let fixture of round.fixtures" class="fixture basic-margin">
          <mat-card-content>
            <img [src]="pic(fixture.home.pic, 2)" class="fixture-pic" [ngClass]="{'round-border': fixture.id === 0, 'past-picked': pickedTeams.indexOf(fixture.homeID) !== -1}" />
            <mat-icon class="result" [ngClass]="resultClass(fixture.homeResult)">
              {{resultIcon(fixture.homeResult)}}
            </mat-icon>
            vs
            <mat-icon class="result" [ngClass]="resultClass(fixture.awayResult)">
              {{resultIcon(fixture.awayResult)}}
            </mat-icon>
            <img [src]="pic(fixture.away.pic, 2)" class="fixture-pic" [ngClass]="{'round-border': fixture.id === 0, 'past-picked': pickedTeams.indexOf(fixture.awayID) !== -1}" />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>



