.picker {
  /*max-width:25em;*/
  overflow: auto;
  color: aliceblue;
  padding: 2em;
  filter: drop-shadow(0px 13px 10px rgba(0, 0, 0, 0.25));
}

.past-picked {
    filter:grayscale(0.9);
}

.picked {
  transform: scale(0.6);
  margin: auto;
  margin-bottom: -4em;
  margin-top: -2em;
  filter: drop-shadow(5px 12px 15px #000);
}

.picked-list {
  width: 90%;
  max-height: 1.5px;
  margin-left: auto;
  margin-right: auto
}

.table-body {
  color: aliceblue;
  margin-top: 1em;
}

.selected {
  height: inherit;
  width: inherit;
  padding: 0.2em;
  border: solid;
  border-color: #7aba71;
  border-width: 0.1em;
}

.tiles {
  height: inherit;
  padding: 2em;
  overflow: auto;
}

.fixture {
  background-color: #353535;
  color: aliceblue;
  text-align: center;
}

.fixture-pic {
  height: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.round-date {
  float: right;
  font-size: 12px;
}

.picker-team {
  height: inherit;
  width: inherit;
  padding: 0.2em;
  border: solid;
  border-color: #f1f1f130;
  border-width: 0.1em;
}

  .picker-team:hover {
    cursor:pointer;
    border-color:#6dd3ea
  }

.picker-team-disabled {
  border: solid;
  border-color: #f1f1f130;
  border-width: 0.1em;
  opacity: 30%;
  filter: grayscale(70%);
}



  .picker-team-disabled:hover {
      cursor:not-allowed;
  }

.done {
  color:aliceblue;
  background-color: #7aba71;
  width: 100%;
  margin-top:1em;
}

.rating {
text-align:center;
margin-bottom:1em;
}
