<nz-tabset *ngIf="viewSettings()" [nzCentered]="true">
  <nz-tab nzTitle="Profile">
    <div class="row ">
      <img [src]="pic(player.user.art.path, 0)" [ngClass]="{'art': !player.eliminated, 'art-eliminated': player.eliminated}" matTooltip="{{artInfo()}}" matTooltipPosition="before">
    </div>
    <br />
    <div class="row">
      <div class="champs">
        <mat-icon *ngFor="let r of champs()">star</mat-icon>
      </div>
    </div>
    <div class="row">
      <strong class="first-name">{{player.user.firstName}}</strong>
      <strong class="last-name">{{player.user.lastName}}</strong>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row justify-content-center">
      <div>
        <table class="stats-table mobile-table">
          <thead class="stats-head">
            <tr><th colspan="5">Position</th></tr>
            <tr><th colspan="3">Points</th></tr>
            <tr><th colspan="3">Pick time</th></tr>
            <tr><th colspan="3">Win Streak</th></tr>
          </thead>
          <tbody class="stats-body">
            <tr><td>{{nth(player.pos)}}</td></tr>
            <tr><td>{{player.pts}}</td></tr>
            <tr><td>{{pickTime(player.pickTime)}}</td></tr>
            <tr><td>{{player.streak}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="life">
      <div class="row justify-content-center">
        <div class="col-3">
          <span class="material-symbols-outlined" matTooltip="Hits" matTooltipPosition="above">point_scan</span>
          <p>{{chipPlay(player.hitsPlayed, player.hitsTotal, player.id)}}</p>
        </div>
        <div class="col-3">
          <mat-icon matTooltip="Boost" matTooltipPosition="above">keyboard_double_arrow_up</mat-icon>
          <p>{{chipPlay(player.boostPlayed, player.boostTotal, player.id)}}</p>
        </div>
        <p class="row justify-content-center">Chips - Played : Total</p>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="row justify-content-center">
      <div class="col-12 life">
        <div *ngIf="player.life > 0">
          <p *ngIf="deadlined" class="hitby-txt">{{hitReveal(player)}}</p>
          <mat-icon *ngFor="let life of lifeArr; index as i" [ngClass]="{'hit': player.hitByID > 0}">
            {{lifeIcon(i)}}
          </mat-icon>
        </div>
        <div *ngIf="player.life <= 0">
          <span class="material-symbols-outlined">skull</span>
          <p class="elim-txt">ELIMINATED</p>
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="playerPicks.length > 0" class="row justify-content-center">
      <mat-accordion class="col-10">
        <mat-expansion-panel style="background-color: #313131;" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title style="color:aliceblue">Results</mat-panel-title>
          </mat-expansion-panel-header>
          <table class="picked-list">
            <tbody class="results-body">
              <tr>
                <td>Round</td>
                <td>Team</td>
                <td>Result</td>
              </tr>
              <br />
              <tr *ngFor="let pick of playerPicks">
                <ng-container>
                  <td>{{pick.roundNumber}}</td>
                  <td>{{pick.team.name}}</td>
                  <td>
                    <mat-icon class="result" [ngClass]="resultClass(pick.result)">
                      {{resultIcon(pick.result)}}
                    </mat-icon>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Settings">
    <game-settings [game]="game" [players]="players" [player]="player"></game-settings>
  </nz-tab>
</nz-tabset>

<div *ngIf="!viewSettings()">
  <div class="row ">
    <img [src]="pic(player.user.art.path, 0)" [ngClass]="{'art': !player.eliminated, 'art-eliminated': player.eliminated}" matTooltip="{{artInfo()}}" matTooltipPosition="before">
  </div>
  <br />
  <div class="row">
    <div class="champs">
      <mat-icon *ngFor="let r of champs()">star</mat-icon>
    </div>
  </div>
  <div class="row">
    <strong class="first-name">{{player.user.firstName}}</strong>
    <strong class="last-name">{{player.user.lastName}}</strong>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="row justify-content-center">
    <div>
      <table class="stats-table mobile-table">
        <thead class="stats-head">
          <tr><th colspan="5">Position</th></tr>
          <tr><th colspan="3">Points</th></tr>
          <tr><th colspan="3">Pick time</th></tr>
          <tr><th colspan="3">Win Streak</th></tr>
        </thead>
        <tbody class="stats-body">
          <tr><td>{{nth(player.pos)}}</td></tr>
          <tr><td>{{player.pts}}</td></tr>
          <tr><td>{{pickTime(player.pickTime)}}</td></tr>
          <tr><td>{{player.streak}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="life">
    <div class="row justify-content-center">
      <div class="col-3">
        <span class="material-symbols-outlined" matTooltip="Hits" matTooltipPosition="above">point_scan</span>
        <p>{{chipPlay(player.hitsPlayed, player.hitsTotal, player.id)}}</p>
      </div>
      <div class="col-3">
        <mat-icon matTooltip="Boost" matTooltipPosition="above">keyboard_double_arrow_up</mat-icon>
        <p>{{chipPlay(player.boostPlayed, player.boostTotal, player.id)}}</p>
      </div>
      <p class="row justify-content-center">Chips - Played : Total</p>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="row justify-content-center">
    <div class="col-12 life">
      <div *ngIf="player.life > 0">
        <p *ngIf="deadlined" class="hitby-txt">{{hitReveal(player)}}</p>
        <mat-icon *ngFor="let life of lifeArr; index as i" [ngClass]="{'hit': player.hitByID > 0}">
          {{lifeIcon(i)}}
        </mat-icon>
      </div>
      <div *ngIf="player.life <= 0">
        <span class="material-symbols-outlined">skull</span>
        <p class="elim-txt">ELIMINATED</p>
      </div>
    </div>
  </div>
  <br />
  <div *ngIf="playerPicks.length > 0" class="row justify-content-center">
    <mat-accordion class="col-10">
      <mat-expansion-panel style="background-color: #313131;" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title style="color:aliceblue">Results</mat-panel-title>
        </mat-expansion-panel-header>
        <table class="picked-list">
          <tbody class="results-body">
            <tr>
              <td>Round</td>
              <td>Team</td>
              <td>Result</td>
            </tr>
            <br />
            <tr *ngFor="let pick of playerPicks">
              <ng-container>
                <td>{{pick.roundNumber}}</td>
                <td>{{pick.team.name}}</td>
                <td>
                  <mat-icon class="result" [ngClass]="resultClass(pick.result)">
                    {{resultIcon(pick.result)}}
                  </mat-icon>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>






