<div class="row justify-content-center addedit-game">
  <div class="col-md-6 col-sm-12">
    <br />
    <mat-toolbar>
      <span class="toolbar-heading">{{heading}}</span>
      <span class="toolbar-spacer"></span>
      <button mat-mini-fab (click)="previous()" class="material-symbols-outlined toolbar-icon"><mat-icon>close</mat-icon></button>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="addedit()">
          <!-- name -->
          <mat-form-field class="col-8 justify-content-center">
            <mat-label for="name"> Name </mat-label>
            <input matInput matNativeControl="text" name="name" #name [(ngModel)]="game.name" formControlName="_name" />
            <mat-error *ngIf="form.invalid">Name your game</mat-error>
          </mat-form-field>
          <!-- /name -->
          <mat-divider></mat-divider>
          <br />
          <p><mat-hint>This game will be based on...</mat-hint></p>
          <mat-button-toggle-group #comp value="{{default.id}}">
            <mat-button-toggle *ngFor="let comp of comps" name="comps" value="{{comp.id}}" matTooltip="{{comp.name}}" matTooltipPosition="above" (change)="compSelect($event)" [disabled]="!comp.active">
              <img class="comp-toggle-img" [src]="pic(comp.pic, 1)" [ngClass]="{'comp-inactive': !comp.active}"/>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-divider></mat-divider>
          <!-- join deadline -->
          <h3 style="text-align:center;">
            Join Deadline
            <span>
              <button type="button" mat-mini-fab [ngClass]="{'yes-btn': game.deadline, 'no-btn': !game.deadline}" (click)="game.deadline = !game.deadline;">
                <mat-icon>{{deadlineIcon()}}</mat-icon>
              </button>
            </span>
          </h3>
          <p><mat-hint>{{deadlineHint()}}</mat-hint></p>
          <div *ngIf="game.deadline">
            <mat-form-field class="col-8 justify-content-center">
              <mat-label for="deadline">Set Deadline:</mat-label>
              <input matInput [min]="today" [matDatepicker]="picker" formControlName="_deadline" [(ngModel)]="game.deadlineDate">
              <mat-hint class="">DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle style="float:right" matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- /join deadline -->
          <mat-divider></mat-divider>
          <button mat-fab type="submit" class="col-md-4 btn-done" [disabled]="form.invalid">
            <mat-icon>done</mat-icon>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

